@*
*@
@{

}
@if (!ViewBag.Logado)
{
	
	<button><a href="/cadastro/index?operacao=C">Cadastro</a></button>
	<button><a href="/cadastro/index?operacao=L">Login</a></button>

}
else{
	<button><a href="/fotosviagem/index">Fotos de Viagem</a> </button>
	<button><a href="/home/Logout">Finalizar seção</a></button>

}


