@*
*@
@{

}
@if (!ViewBag.isLoggedIn)
{
	
	<button><a href="/cadastro/index?operacao=C">Cadastro</a></button>
	<button><a href="/cadastro/index">Login</a></button>

}
else{
	<button>Editar/Cadastrar Fotos de Viagem</button>
	<button><a>Finalizar seção</a></button>

}


