@model List<FotosViagemViewModel>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<button>Novo registro</button>
<button>Voltar</button>

<h1>Registros de Fotos de viagem</h1>
@foreach (FotosViagemViewModel model in Model)
{
    <h3>asd</h3>
}
