@model List<FotosViagemViewModel>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<button> <a href="/fotosViagem/create">Novo registro</a></button>
<button>Voltar</button>

<h1>Registros de Fotos de Viagem:</h1>
@foreach (FotosViagemViewModel FV in Model)
{
    <div>
        <tr class="">
            <th>@FV.nomeUsuario</th>
            <th>@FV.nomeUsuario</th>
        </tr>
        <tr>
            @for (int i = 0; i<3; i++)
            {
                <th>
                    <img src="data:image/jpeg;base64,@FV.Fotos64[i]" /> 
                    <label>@FV.localFoto - @FV.dataFoto</label>    
                </th>
                
            }
        </tr>


    </div>

}
